.interests-container {
    display: flex;
    margin-right: 20px;
}

.interest {
    width: 100%;
    height: auto;
    border: 2px solid greenyellow;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease-in-out;
}



.interest:hover {
    scale: 1.05;
    border: 2px solid white;
}

.interest i {
    font-size: 40px;
    color: #007bff;
}

@media (max-width: 576px) {
    .interests-container {
        flex-direction: column;
    }

    .interest {
        width: 100%;
        height: auto;
        /* margin-bottom: 25px;
        margin-left: 0px; */
        margin: 0px;
    }
} 

@media (max-width: 768px) {
    /* Styles for tablets and large phones */
    .interests-container {
        flex-direction: column;
    }

    .interest {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        margin-left: 0px;
    } 
    

}

@media (max-width: 992px) {
    /* Styles for tablets and small laptops */
    .interests-container {
        flex-direction: column;
    }

    .interest {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        margin-left: 0px;
        
    }
1}

